[env]
CONTAINER_NAME = "nginx-demo"

[tasks.run-nginx]
run = [
    """
    docker run -d \
	  --name ${CONTAINER_NAME} \
	  -p 8080:80 \
	  -v $(pwd)/html:/usr/share/nginx/html \
	  -v $(pwd)/conf/test.conf:/etc/nginx/conf.d/default.conf \
	  nginx:alpine
    """
]

[tasks.rm-nginx]
run = "docker rm -f ${CONTAINER_NAME}"

[tasks.whoami]
run = "docker compose -f docker/whoami.yml up -d"

[tasks.multiwhoami]
run = "docker compose -f docker/whoami.yml up -d --scale app=3"

[tasks.down-whoami]
run = "docker compose -f docker/whoami.yml down"
