[tasks.run-nginx]
run = [
    """
    docker run -d \
	  --name nginx-demo \
	  -p 8080:80 \
	  -v $(pwd)/html:/usr/share/nginx/html \
	  -v $(pwd)/default.conf:/etc/nginx/conf.d/default.conf \
	  nginx:alpine
    """
]
