services:
  nginx:
    image: nginx:alpine
    ports:
      - 80:80
    volumes:
      - ../conf/whoami.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app

  app:
    image: traefik/whoami:latest
    expose:
      - 80
